* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container {
    width: 500px;
    margin: 0 auto;
    padding: 35px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.space1 {
    height: 10px;
}

form button,
div.car-space,
.save {
    height: 30px;
    width: 200px;
    margin: 5px 0;
}

div.car-space {
    border: 1px solid #838383;
    height: 300px;
    background: #f0f0f0;
}

form input {
    width: 70px;
}

.save {
    margin: 15px 0 0 0;
}

.alarm {
    position: absolute;
    top: 105px;
    right: 30px;
    height: 100px;
    width: 100px;
    border: 1px solid red;
    display: inline-block;
}

table {
    margin: 10px;
}

table tr td {
    text-align: left;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}